# Question 2_Part 1 Read all the json files in the folder called Data.
- Create a folder (Name: Data Processed)
- In this folder you should have a hierarchy of folder structures

In [1]:
import glob
import string
import os
from shutil import copyfile

In [2]:
names = glob.glob('/Users/fangninghe/Desktop/INFO7374/DataAnalysis4Python_Spring17/Assignment 2/Data/*')

In [3]:
punctation = set(string.punctuation)

In [7]:
for name in names:
    src = name
    file = open(name)    
    name = name[name.rfind('/')+1:]  #grab all the proper file names
    lines = file.read()
    lines = ''.join(ch for ch in lines if ch not in punctation) #remove all the punctuation
    word_list = lines.split() 
    newpath = '/Users/fangninghe/Desktop/Data Processed/' + word_list[word_list.index('country')+1] + \
    '/' + word_list[word_list.index('state')+1]+ '/' + word_list[word_list.index('city')+1] + \
    '/' + word_list[word_list.index('term')+1] + '/' + name 
    # directory: Data Processed/Country/state/city/term/filename.json
    os.makedirs(os.path.dirname(newpath), exist_ok=True)
    dst = newpath
    copyfile(src, dst) # copy files in to aim directory

# Question 2_part2 Read all the json files in the folder called Data.
- Read only the json files which contain the key called “restaurants”
- Each (or most of the json files) contain a key called “open” which contains the details of the operation (timings) of the restaurants. For each json file, read the timings of the restaurants.
- Data of the operation timings of the restaurants is present for each day of the week. I want you to extract each of this data and write it in an excel sheet.

In [4]:
for name in names:            #get restaurant files for easier calculation
    file = open(name)  
    file_name = name[name.rfind('/')+1:]
    lines = file.read()
    lines = ''.join(ch for ch in lines if ch not in punctation)
    word_list = lines.split()
    if(word_list[word_list.index('term')+1] == 'restaurants'):
        src = name
        path = '/Users/fangninghe/Desktop/restaurants/' + file_name
        os.makedirs(os.path.dirname(path), exist_ok=True)
        dst = path
        copyfile(src, dst)

In [5]:
r_names = glob.glob('/Users/fangninghe/Desktop/restaurants/*')

In [6]:
table = []                  #get a first 3-column table
for name in r_names:
    file = open(name)
    lines = file.read()
    lines = ''.join(ch for ch in lines if ch not in punctation)
    word_list = lines.split()
    for word in word_list:
        if word == 'day':
            day_detail = []
            if word_list.index('url') > word_list.index('name'):
                name = " ".join(ch for ch in word_list[word_list.index('name')+1:word_list.index('url')])
            elif word_list.index('term') > word_list.index('name'): 
                name = " ".join(ch for ch in word_list[word_list.index('name')+1:word_list.index('term')])
            else:
                name = " ".join(ch for ch in word_list[word_list.index('name')+1:])
            day_detail.append(name)
            day_detail.append(word_list[word_list.index('city')+1])
            day_detail.append(word_list[word_list.index('country')+1])
            table.append(day_detail)
            
table[:20]

[['1 Abercrombie Lane', 'Sydney', 'AU'],
 ['1 Abercrombie Lane', 'Sydney', 'AU'],
 ['1 Abercrombie Lane', 'Sydney', 'AU'],
 ['1 Abercrombie Lane', 'Sydney', 'AU'],
 ['1 Abercrombie Lane', 'Sydney', 'AU'],
 ['1 Chicken Rice Seafood', 'Houston', 'US'],
 ['1 Chicken Rice Seafood', 'Houston', 'US'],
 ['1 Chicken Rice Seafood', 'Houston', 'US'],
 ['1 Chicken Rice Seafood', 'Houston', 'US'],
 ['1 Chicken Rice Seafood', 'Houston', 'US'],
 ['1 Chicken Rice Seafood', 'Houston', 'US'],
 ['1 Chinese Kitchen', 'San', 'US'],
 ['1 Chinese Kitchen', 'San', 'US'],
 ['1 Chinese Kitchen', 'San', 'US'],
 ['1 Chinese Kitchen', 'San', 'US'],
 ['1 Chinese Kitchen', 'San', 'US'],
 ['1 Chinese Kitchen', 'San', 'US'],
 ['10 Custom Pizzeria', 'Braddon', 'AU'],
 ['10 Custom Pizzeria', 'Braddon', 'AU'],
 ['10 Custom Pizzeria', 'Braddon', 'AU']]

In [9]:
def business_detail(r_names,keyword,table): #function to append another 3 columns to table
    a = 0
    for name in r_names:
        file = open(name)
        lines = file.read()
        lines = ''.join(ch for ch in lines if ch not in punctation)
        word_list = lines.split()
        #word_day = deepcopy(word_list)
        for word in word_list:
            if word == keyword:
                table[a].append(word_list[word_list.index(word)+1])
                word_list = word_list[word_list.index(word)+1:]
                a = a + 1  
    return table

In [10]:
table = business_detail(r_names,'day',table)  # get 'day' information
table[:10]

[['1 Abercrombie Lane', 'Sydney', 'AU', '0'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '1'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '2'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '3'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '4'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '0'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '1'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '2'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '3'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '4']]

In [11]:
table = business_detail(r_names,'start',table)  #get 'start' information
table[:10]

[['1 Abercrombie Lane', 'Sydney', 'AU', '0', '0730'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '1', '0730'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '2', '0730'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '3', '0700'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '4', '0730'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '0', '1030'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '1', '1030'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '2', '1030'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '3', '1030'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '4', '1030']]

In [12]:
table = business_detail(r_names,'end',table)  #get 'end' information
table[:10]

[['1 Abercrombie Lane', 'Sydney', 'AU', '0', '0730', '1530'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '1', '0730', '1530'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '2', '0730', '1530'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '3', '0700', '1530'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '4', '0730', '1530'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '0', '1030', '2030'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '1', '1030', '2030'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '2', '1030', '2030'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '3', '1030', '2030'],
 ['1 Chicken Rice Seafood', 'Houston', 'US', '4', '1030', '2030']]

In [13]:
table.insert(0,['Name of restaurant','City','Country Code','Day of week','Start time','End time'])  # add headers
table[:6]

[['Name of restaurant',
  'City',
  'Country Code',
  'Day of week',
  'Start time',
  'End time'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '0', '0730', '1530'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '1', '0730', '1530'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '2', '0730', '1530'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '3', '0700', '1530'],
 ['1 Abercrombie Lane', 'Sydney', 'AU', '4', '0730', '1530']]

In [14]:
import csv
with open("business_detail.csv", "w",newline='') as f:
    writer = csv.writer(f)
    writer.writerows(table)